<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" href="./login.css">
</head>
<body class="container">
<div class="login-container">
    <div class="login-content">
      <h1 class="welcome-text">login here</h1>
      <form class="login-form">

        <input type="text" placeholder="Username" class="input-field">
        <input type="password" placeholder="Password" class="input-field">
        <input type="checkBox">I</span> agree with the rules and conditions</p>
        <button type="submit" class="login-button">Login</button>

        <p>dont have an account?<a href="./signup.html">Create an account </a></p>
      </form>
    </div>
    </div>
  </div>





    
    <script src="./login.jsx"></script>
</body>
</html>